---
layout: default
---
<head>
  <meta charset="utf-8">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FFE37E9WL2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-FFE37E9WL2');
  </script>
</head>

<h2>Living Sustainably</h2>
<div class="home">
  <ul class="posts">
    {% for post in site.categories.sustainability %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

<h2>My Fun Projects</h2>
<div class="home">
  <ul class="posts">
    {% for post in site.categories.my_projects %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

<h2>Programming notes</h2>
<div class="home">
  <ul class="posts">
    {% for post in site.categories.programming %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>


<h2>Navigating life posts</h2>
<div class="home">
  <ul class="posts">
    {% for post in site.categories.personal_development %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <ul class="posts">
    {% for post in site.categories.favourites %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>


<h2>World knowledge posts</h2>
<div class="home">
  <ul class="posts">
    {% for post in site.categories.scientific_knowledge %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>


<hr style="margin-top: 20px; margin-bottom: 20px;">

<footer class="site-footer" style="border-top: none;">
  <div class="wrap">
      <ul style="list-style-type: none;">
          <a href="https://github.com/{{ site.github_username }}">
            <span class="username">{{ site.github_username }} github repo</span>
          </a>
      </ul>
  </div>
</footer>

